@import url('https://fonts.googleapis.com/css2?family=Herr+Von+Muellerhoff&family=Poppins:wght@100;300;500;600&family=Roboto&family=Scope+One&display=swap');

* {
    padding: 0;
    margin: 0;
    border: none;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

*:focus {
    outline: 0;
    /*inputta tıklandığında kenarlık belirriyordu bu kod sayesinde artık gözükmüyor*/
}

body {

    font-family: 'Roboto', sans-serif;
}

.LandingPage .logo {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
    padding-top: 115px;
}

.LandingPage img {
    width: 278px;
    height: 115px;
}

.LandingPage .logo .text {
    padding-left: 240px;
    padding-top: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;

}

.LandingPage .search {
    padding-left: 22%;
    padding-top: 40px;
}

.LandingPage .search #input {
    width: 700px;
    height: 46px;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 8px;
    display: inline-block;


}

.LandingPage .search .SearchButton {
    background: #204080;
    width: 138px;
    height: 46px;
    border-radius: 8px;
    color: #fff;
    font-size: 18px;

}
#buttonShowMore{
    background: #204080;
    width: 138px;
    height: 46px;
    border-radius: 8px;
    color: #fff;
    font-size: 18px;
}


/*******************/
.Search {
    background: #fff;
    display: flex;
    flex-direction: center;
}

.Search #jpg img {
    width: 149px;
    height: 63px;
    margin: 35px;
}

.Search #input {
    width: 509px;
    height: 46px;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 8px;
    margin-top: 3%;
}

.Search #button {
    background: #204080;
    width: 138px;
    height: 46px;
    border-radius: 8px;
    color: #fff;
    font-size: 18px;
    margin-top: 3%;
    margin-left: 25px;
}

.Search #button:hover {
    background: #4F75C2;
}

/*

.display {
    position: absolute;
    top: 10vh;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto 40%;
    z-index: -1;
}


.next,
.prev {
    position: fixed;
    display: flex;
    background: #204080;
    color: #fff;
    text-align: center;
    opacity: 1;
    padding: 0.8rem;
    width: 90px;
    font-size: 1.2rem;
    cursor: pointer;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;

}
.next{
    bottom: 0; 
    right: 0;
}
.prev{
    bottom: 0;
}*/

.pagination {
    padding: 2px;
    margin-top: 25%;
    margin-left: 5%;

}

.pagination ul {
    text-align: left;
    /*Set to "right" to right align pagination interface*/
    font-size: 16px;

}

.pagination li {
    list-style-type: none;
    display: inline;
    padding: 5px;
}

.pagination a,
.pagination a:visited {
    padding: 5px 15px;
    border: 1px solid #000000;
    border-radius: 4px;
    text-decoration: none;
    font-size: 14px;
}

.pagination a:hover,
.pagination a:active {
    border: 1px solid #000000;
    color: rgb(255, 255, 255);
    background-color: #204080;

}

.pagination a.currentpage {
    background-color: #204080;
    color: #FFF !important;
    border-color: #000000;
    font-weight: bold;
    cursor: default;


}

.pagination a.disablelink,
.pagination a.disablelink:hover {
    background-color: white;
    cursor: default;
    color: #929292;
    border-color: #929292;
    font-weight: normal !important;
}

.pagination a.prevnext {
    color: #000;
}